#item-price {
	border-right: 1px solid rgba(34,36,38,.15);
}

#cart-label-price {
	border-right: 1px solid rgba(34,36,38,.15);
}

#cart-price {
	border-right: 1px solid rgba(34,36,38,.15);
}

#total {
	border-right: 1px solid black;
	border-top: 1px solid rgba(34,36,38,.15)
}

#cart-item-section {
	margin-top: 113px;
	width: 720px;
}

.cart-row {
	height: 151;
	border: 1px solid black;
}

.cart-item-paragraph {
	margin-bottom: 0px;
	font-size: 16px;
}

.price-column {
	text-align: right;
	font-size: 16px;
}