#item-price {
	border-right: 1px solid rgba(34,36,38,.15);
}

#cart-label-price {
	border-right: 1px solid rgba(34,36,38,.15);
}

#cart-price {
	border-right: 1px solid rgba(34,36,38,.15);
}

#total {
	border-right: 1px solid black;
	border-top: 1px solid rgba(34,36,38,.15)
}

#cart-item-section {
	margin-top: 113px;
	width: 720px;
	background-color: white;
  border-radius: 6px;
}

.cart-row {
	height: 151px;
}

.cart-item-paragraph {
	margin-bottom: 0px;
	font-size: 16px;
}

#cart-item-section .price-column {
	text-align: right;
	font-size: 16px;
	padding-right: 28px;
}

#cart-item-section .image-div {
	padding-left: 28px;
}

.in-cart-product-image {
	height: 120px;
	width: 120px;
	border-radius: 6px;
}