#item-price {
	border-right: 1px solid rgba(34,36,38,.15);
}

#cart-label-price {
	border-right: 1px solid rgba(34,36,38,.15);
}

#cart-price {
	border-right: 1px solid rgba(34,36,38,.15);
}

#total {
	border-right: 1px solid black;
	border-top: 1px solid rgba(34,36,38,.15)
}

#cart-item-section {
	width: 720px;
	background-color: white;
  border-radius: 6px;
}

#cart-section {
	position: relative;
  top: 125px;
}

.cart-row {
	height: 151px;
}

.cart-item-paragraph {
	margin-bottom: 0px;
	font-size: 16px;
}

#cart-item-section .price-column {
	text-align: right;
	font-size: 16px;
	padding-right: 28px;
}

#cart-item-section .image-div {
	padding-left: 28px;
}

.in-cart-product-image {
	height: auto;
	width: 120px;
	border-radius: 6px;
}

.orange-btn {
	color: #fff;
  border: 1px solid #f6850a;
  background: #f6870f;
  font-size: 16px;
  font-weight: 700;
  padding: 10.4px 33px;
  border-radius: 4px;
}

.orange-btn:hover {
	background: #f39126;
  border: 1px solid #f39126;
  color: #fff;
}

.empty-cart-icon {
	max-width: 150px;
  max-height: 150px;
}

#empty-cart-div {
	text-align: center;
}

#empty-cart-text {
	margin: 10px 0 30px 0;
	color: #414141;
	font-size: 19px;
}

.remove-product-icon {
	margin-right: 3px;
  font-weight: 900;
  font-size: 17px;
}

#remove-link {
	color: #414141;
}

#remove-link:hover {
	cursor: pointer;
}

#remove-link-ul {
	padding: 0px;
  margin: 0px;
}

.align-right {
	text-align: right;
}

#sum-table {
	width: 95%;
  margin: auto;
  line-height: 1.6em;
  color: #414141;
}

#sum-table td {
	padding-bottom: 5px;
}

#total-label {
	font-size: 24px;
  font-weight: 700;
}

.total {
	font-size: 24px;
  color: #59b359;
  font-weight: 700;
}

.price-currency {
	font-size: 14px;
}

#cart-label {
	padding: 18px 0 0 18px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #414141;
}

#table-separator {
	width: 95%;
}

#buy-container {
	width: 720px;
}

#buy-container button {
	float: right;
  color: #fff;
  border: 1px solid #56b156;
  background: #59b359;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  margin-top: 20px;
  height: 39px;
  width: 318px;
}