
#cartPurchasedPopUp {
  display: none;
  background-color: #fff;
  border-radius: 5px;
  position: fixed;
  width: 350px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  left: 37.85%;
}

#products-pop-up-close-button {
	height: 30px;
  width: 30px;
  padding: 0px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 134px;
  right: -19px;
  background: #414141;
  color: #fff;
}

#pop-up-close-button:hover {
	background: #282828;
}

#cartPurchasedPopUp .message {
  text-align: left;
  color: #59b359;
  font-size: 22px;
  font-weight: 700;
  margin: auto;
}

#cartPurchasedPopUp .close {
  color: white;
  margin: 4px 4px 6px 0px;
}
