#nav-logo {
	font-size: 2.5em;
	text-align: center;
	color: #414141;
}

.nav-element {
	display: table-cell; 
	vertical-align: middle; 
}

#main-nav {
	margin: 0px;
	padding: 5px;
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 0 5px rgba(65,65,65,.3);
}

#cart-link {
	color: #414141;
	text-align: center;
}

#shoping-cart-icon {
  font-size: 1.8em;
}

#cart-icon-label {
	font-size: .8em;
  line-height: .9em;
}

#cart-li {
	list-style: none;
  margin-top: 20px;
}

#sell-product-li {
	list-style: none;
  margin-top: 20px;
  margin-right: 15px;
}

#sell-product-link {
	color: #f8a040;
  background: #fff;
  border: 2px solid #f8a040;
  padding: 10.4px 16px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
}

ul li{
	display: inline-block;
}