.productImage {
	width: 100%;
  width: 259px;
  height: 259px;
}

.product-info {
	background: white;
  padding: 0px;
  margin-top: -5px;
  color: #414141;
  height: 100px;
}

.product-info * {
	padding: 7px;
  font-size: 1.3em;
}

#product-list > * {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px;
  width: 23%!important;
}

.list-item {
	margin-bottom: 23px;
}

#switch-div {
  position: relative;
  top: 140px;
}

.reframe {
  height: 259px;
  width: 259px;
  overflow: hidden;
}

.reframe img {
  height: 259px;
  width: auto;
}

.search-overview {
  margin-bottom: 30px;
}

.search-overview .product-count {
  color: #414141;
  margin-bottom: 24px;
  margin-left: 11px;
  font-weight: 400;
}

#filtered-by {
  margin-left: 11px;
  padding-left: 25px;
}

#sort-dropdown {
  text-align: right;
  width: 23%!important;
}